body {
  margin: 5% 20%;
  text-align: center;
  background-image: url("images/clouds.JPG");
  background-attachment: fixed;
}

.container {
  background-color: grey;
  display: grid;
  grid-template-areas:
    "nav head head head head"
    "sect sect sect sect sect"
    "foot foot foot foot foot";
}

.banner, .section, .footer {
  align-items: center;
}

.navigation {
  background: #eaf6f6;
  color: #66bfbf;
  grid-area: nav;
  position: sticky;
}

.header {
  background: #eaf6f6;
  font-family: Ink Free, Arial, sans-serif;
  font-weight: bolder;
  color: #66bfbf;
  font-size: 28px;
  grid-area: head;
}

.footer {
  background-color: #66bfbf;
  grid-area: foot;
  font-size: 15px;
}

.section {
  background-color: white;
  background-image: linear-gradient(to bottom, white, rgb(128,128,128));
  grid-area: sect;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  height: auto;
  font-size: 18px;
}

.images {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

p {
  font-family: sans-serif;
}

table, td {
  border: 4px groove #66bfbf;
}

iframe {
  border: 2;
  width: 755px;
  height: 230px;
}

#downloadBtn {
  background: #7a858c;
  background-image: linear-gradient(to right, #7a858c, #06090a);
  border-radius: 20px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
	cursor: pointer;
	width:100%;
}

#downloadBtn:hover {
  background: #bcc0c2;
  background-image: linear-gradient(to bottom, #bcc0c2, #697278);
}
