body {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20%;
	margin-right: 20%;
	background-image: url("images/pane.jpg");
	background-attachment: fixed;

}

.container {
	width: 100%;
	background: white;
}

.header {
	height: 100%;
	box-sizing: border-box;
}

.navigation, .banner {
	float: left;
  box-sizing: border-box;
	background: #eaf6f6;
	padding: 20px;
}

.navigation {
    width: 20%;
}
.banner {
    width: 80%;
		font-size: 115%;
		font-style: oblique;
		font-weight: 200;
}
.navigation ul {
    list-style: none;
    line-height: 24px;
}
.navigation ul li a {
    color: #66bfbf;
		font-family: Brush Script M7, Bradley Hand ITC;
		font-size: 150%;
}

.section {
	color: #40514E;
	font-size: 110%;
}

.image, .table, .contactform, .iframe, .intro {
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: white;
}

.image {
	padding-top: 250px;
}

.intro {
	text-align: justify;
	padding: 20px;
}

h1, h2 {
	text-align: center;
	color: #66bfbf;
	font-family: Brush Script M7, Bradley Hand ITC;
}

table, td {
	border: 1px solid #66bfbf;
	border-collapse: collapse;
}

.table {
	padding-left: 8%;
}

.footer {
	background-color: #66bfbf;
	text-align: center;
	padding: 4%;
}

#downloadBtn {
  background: #7a858c;
  background-image: linear-gradient(to right, #7a858c, #06090a);
  border-radius: 20px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
	cursor: pointer;
	width:100%;
}

#downloadBtn:hover {
  background: #bcc0c2;
  background-image: linear-gradient(to bottom, #bcc0c2, #697278);
}
